<footer class="footer">
  <div class="footer-container">
    <div class="footer-section logo">
      <a href="#inicio"><img src="assets/logo.png" alt="SwiftPort Logo" /></a>
      <p>{{ 'footer.solution' | translate }}</p>
    </div>

    <div class="footer-section links">
      <h3>{{ 'footer.links' | translate }}</h3>
      <ul>
        <li><a href="#que-es">{{ 'footer.us' | translate }}</a></li>
        <li><a href="#funcionalidades">{{ 'footer.functions' | translate }}</a></li>
        <li><a href="#beneficios">{{ 'footer.benefits' | translate }}</a></li>
        <li><a href="#como-funciona">{{ 'footer.how' | translate }}</a></li>
        <li><a href="#planes">{{ 'footer.faq' | translate }}</a></li>
      </ul>
    </div>

    <div class="footer-section contact">
      <h3>{{ 'footer.contact' | translate }}</h3>
      <p>{{ 'footer.email' | translate }} contacto&#64;swiftport.com</p>
      <p>{{ 'footer.telf' | translate }} +51 987 654 321</p>
    </div>

    <div class="footer-section social">
      <h3>{{ 'footer.follow' | translate }}</h3>
      <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 SwiftPort. Todos los derechos reservados.</p>
  </div>
</footer>
