<div class="what-container">
  <div class="text-container">
    <p class="title">¿Qué es SwiftPort?</p>
    <p class="long-text">SwiftPort es una solución integral de transformación digital diseñada para optimizar la planificación, coordinación y supervisión de procesos logísticos en zonas operativas de difícil acceso o alta complejidad, como campos petroleros, faenas mineras o instalaciones energéticas remotas.
      A través de la plataforma SwiftPort permite a las empresas gestionar de forma centralizada todas las tareas logísticas: desde la creación y asignación de actividades, hasta su seguimiento en terreno. Esta herramienta combina interfaces intuitivas con tecnologías como IoT simulado, monitoreo en tiempo real y tableros colaborativos, ofreciendo una visibilidad completa de la operación.</p>
  </div>
  <img class="img-container" src="assets/logo.png">
</div>
