<div class="funcionalidades-swiftport-container">
  <h2 class="funcionalidades-title">Funcionalidades de SwiftPort</h2>
  <div class="functions-container">
    <app-function class="function-item"
      title="Planificación inteligente"
      functionText="Crea tareas, define fases y agrupa actividades"
    ></app-function>
    <app-function class="function-item"
      title="Asignación efectiva"
      functionText="Distribuye tareas según disponibilidad real de personal y recursos."
    ></app-function>
    <app-function class="function-item"
      title="Monitoreo en tiempo real"
      functionText="Seguimiento por GPS e integración con alertas del clima o fallos."
    ></app-function>
    <app-function class="function-item"
      title="Reprogramación"
      functionText="Permite modificar horarios y tareas logísticas en tiempo real."
    ></app-function>
    <app-function class="function-item"
      title="Gestión de incidencias"
      functionText="Reportes directos desde campo con opción de validación y asignación."
    ></app-function>
    <app-function class="function-item"
      title="Visibilidad de desempeño"
      functionText="Visibilidad de tareas, bloqueos, tiempos muertos y cumplimiento."
    ></app-function>
    <app-function class="function-item"
      title="Flexibilidad operativa"
      functionText="Solicitudes de reprogramación y actualizaciones de estado en terreno."
    ></app-function>
  </div>
</div>
