<app-header></app-header>
<main class="main">
  <section id="inicio" class="section-container">
    <app-what></app-what>
  </section>
  <section id="que-es" class="section-container">
    <app-why></app-why>
  </section>
  <section id="funcionalidades" class="section-container">
    <app-funcionalidades-swiftport></app-funcionalidades-swiftport>
  </section>
  <section id="beneficios" class="section-container">
    <app-beneficios></app-beneficios>
  </section>
  <section id="como-funciona" class="section-container">
    <app-how></app-how>
  </section>
  <section id="planes" class="section-container">
    <app-faq></app-faq>
  </section>
</main>
