<app-header></app-header>
<main class="main">
  <section id="presentation" class="section-container">
    <app-presentation></app-presentation>
  </section>
  <section id="what" class="section-container">
    <app-what></app-what>
  </section>
  <section id="why" class="section-container">
    <app-why></app-why>
  </section>
  <section id="features" class="section-container">
    <app-funcionalidades-swiftport></app-funcionalidades-swiftport>
  </section>
  <section id="benefits" class="section-container">
    <app-beneficios></app-beneficios>
  </section>
  <section id="how" class="section-container">
    <app-how></app-how>
  </section>
  <section id="pricing" class="section-container">
    <app-pricing></app-pricing>
  </section>
  <section id="faq" class="section-container">
    <app-faq></app-faq>
  </section>
  <section id="contact" class="section-container">
    <app-contact></app-contact>
  </section>
</main>
<app-footer></app-footer>
