<section class="faq-section">
  <div class="container">
    <h2 class="section-title">Preguntas Frecuentes</h2>
    
    <div class="faq-container">

      @for (faq of faqItems; track faq.question) {
        <app-extension-panel 
          [question]="faq.question" 
          [questionNumber]="$index + 1">
          <p>{{faq.answer}}</p>
        </app-extension-panel>
      }
      
      <app-extension-panel 
        title="¿Ofrecen integraciones con otros sistemas?" 
        content="Sí, SwiftPort se integra con los principales ERP, CRM y sistemas de gestión de almacenes a través de APIs. También ofrecemos integraciones personalizadas para sistemas propietarios."
        theme="light">
      </app-extension-panel>
      
      <app-extension-panel 
        title="¿Cómo empezar con SwiftPort?" 
        theme="dark">
        <div class="getting-started">
            <img src="../../../assets/logo.png" alt="faq-image">
          <p>Comenzar con SwiftPort es muy sencillo:</p>
          <ol>
            <li>Contacta con nuestro equipo de ventas</li>
            <li>Configura tu cuenta según tus necesidades</li>
            <li>Importa tus datos o comienza desde cero</li>
            <li>Capacita a tu equipo con nuestros recursos</li>
          </ol>
          <p>Todo el proceso suele tomar menos de una semana para implementaciones básicas.</p>
        </div>
      </app-extension-panel>
    </div>
  </div>
</section>
